@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
} 

@layer base {
  :root {
    /* Tema Claro */
    --text: #704332;
    --background: #FFFFFF; /* Exemplo de cor de fundo claro */
    --foreground: #F5F5F5; /* Exemplo de cor de primeiro plano claro */
    --card: #FFFFFF;
    --card-foreground: #704332;
    --popover: #FFFFFF;
    --popover-foreground: #704332;
    --primary: #F86E0A; /* Cor primária do tema claro */
    --primary-foreground: #FFFFFF; /* Contraste para texto sobre o primário */
    --secondary: #fee7e7;
    --secondary-foreground: #704332;
    --muted: #E0E0E0;
    --muted-foreground: #8b8b8b;
    --accent: #FAD2E1; /* Apenas um exemplo */
    --accent-foreground: #704332;
    --destructive: #E57373;
    --destructive-foreground: #FFFFFF;
    --border: #E0E0E0;
    --input: #FFFFFF;
    --ring: #F86E0A;
    --radius: 0.5rem;
  }
 
  .dark {
    /* Tema Escuro inspirado no Discord */
    --text: #DCDDDE;
    --background: #36393F; /* Fundo principal do Discord */
    --foreground: #2F3136; /* Fundo de painéis e seções */
    --card: #202225; /* Fundo de cards e elementos interativos */
    --card-foreground: #DCDDDE;
    --popover: #2F3136;
    --popover-foreground: #DCDDDE;
    --primary: #7289DA; /* Azul Discord */
    --primary-foreground: #FFFFFF;
    --secondary: #99AAB5; /* Cinza claro para textos secundários */
    --secondary-foreground: #2C2F33;
    --muted: #4F545C; /* Cinza para texto e ícones menos importantes */
    --muted-foreground: #DCDDDE;
    --accent: #5865F2; /* Azul mais vibrante para destaques e ações */
    --accent-foreground: #FFFFFF;
    --destructive: #ED4245; /* Vermelho para ações destrutivas */
    --destructive-foreground: #FFFFFF;
    --border: #202225; /* Bordas e divisórias */
    --input: #40444B; /* Fundo de campos de entrada */
    --ring: #7289DA; /* Cor de foco para elementos interativos */
  }
}

